// http://colllor.com/fbaf40
// http://colllor.com/233140
// http://colllor.com/939597
// function color(name) { let text = ''; for (let i = 1; i < 25; i++) { const color = document.getElementById(`${i}`).textContent; text += '$' + `ksi-${name}-${i * 10}: ${color};\n`; } console.log(text); }; color("lime");

$ksi-orange-10: #081202;
$ksi-orange-20: #102504;
$ksi-orange-30: #183706;
$ksi-orange-40: #204909;
$ksi-orange-50: #285B0B;
$ksi-orange-60: #306E0D;
$ksi-orange-70: #38800F;
$ksi-orange-80: #409211;
$ksi-orange-90: #48A413;
$ksi-orange-100: #51B715;
$ksi-orange-110: #59C918;
$ksi-orange-120: #61DB1A;
$ksi-orange-130: #6BE524;
$ksi-orange-140: #77E736;
$ksi-orange-150: #84EA48;
$ksi-orange-160: #8DEB57; // main
$ksi-orange-170: #9CEE6D;
$ksi-orange-180: #A9F07F;
$ksi-orange-190: #B5F291;
$ksi-orange-200: #C1F4A4;
$ksi-orange-210: #CEF6B6;
$ksi-orange-220: #DAF9C8;
$ksi-orange-230: #E6FBDA;
$ksi-orange-240: #F3FDED;

$ksi-blue-10: #0F050F;
$ksi-blue-20: #1D0B1E;
$ksi-blue-30: #2C102D;
$ksi-blue-40: #3A163C;
$ksi-blue-50: #491B4B;
$ksi-blue-60: #57205A;
$ksi-blue-70: #662669;
$ksi-blue-80: #742B78;
$ksi-blue-90: #833187;
$ksi-blue-100: #913696;
$ksi-blue-110: #99399E; //
$ksi-blue-120: #AE41B4;
$ksi-blue-130: #B84BBE;
$ksi-blue-140: #BE5AC4;
$ksi-blue-150: #C469C9;
$ksi-blue-160: #CA78CE;
$ksi-blue-170: #D087D4;
$ksi-blue-180: #D696D9;
$ksi-blue-190: #DCA5DF;
$ksi-blue-200: #E2B4E4;
$ksi-blue-210: #E7C3E9;
$ksi-blue-220: #EDD2EF;
$ksi-blue-230: #F3E1F4;
$ksi-blue-240: #F9F0FA;

$ksi-gray-10: #0A0A0A;
$ksi-gray-20: #141415;
$ksi-gray-30: #1E1F1F;
$ksi-gray-40: #28292A;
$ksi-gray-50: #323334;
$ksi-gray-60: #3C3D3E;
$ksi-gray-70: #464749;
$ksi-gray-80: #505253;
$ksi-gray-90: #5A5C5E;
$ksi-gray-100: #646668;
$ksi-gray-110: #6E7072;
$ksi-gray-120: #787A7D;
$ksi-gray-130: #828587;
$ksi-gray-140: #8D8F91;
$ksi-gray-150: #939597;
$ksi-gray-160: #A1A3A5;
$ksi-gray-170: #ACADAF;
$ksi-gray-180: #B6B8B9;
$ksi-gray-190: #C1C2C3;
$ksi-gray-200: #CBCCCD;
$ksi-gray-210: #D5D6D7;
$ksi-gray-220: #E0E0E1;
$ksi-gray-230: #EAEBEB;
$ksi-gray-240: #F5F5F5;

$ksi-white: #fff;
$ksi-black: #000;

$ksi-red-100: var(--danger);
$ksi-green-100: var(--success);
$boostrap-primary: var(--primary);
$boostrap-warning: var(--warning);

// used in classic light mode
$ksi-code-builtin-dark: #30a;
$ksi-code-keyword-dark: #708;
$ksi-code-number-dark: #164;
$ksi-code-def-dark: #00f;
$ksi-code-comment-dark: #a50;;
$ksi-code-string-dark: #a11;;
$ksi-code-variable-2-dark: #05a;
$ksi-code-meta-dark: #555;

// used in dark mode
$ksi-code-builtin-light: #9573ff;
$ksi-code-keyword-light: #ed6dff;
$ksi-code-number-light: #70ffae;
$ksi-code-def-light: #46b4ff;
$ksi-code-comment-light: #ffaa55;
$ksi-code-string-light: #ee5a5a;
$ksi-code-variable-2-light: #66baff;
$ksi-code-meta-light: #b2aca2;
